* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  background-color: #a4508b;
  background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
}

header h1 {
  padding-top: 4rem;
  padding-left: 3rem;
  padding-bottom: 4rem;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 55px;
  font-weight: bold;
  background-color: #6b0f1a;
  background-image: linear-gradient(315deg, #6b0f1a 0%, #b91372 74%);
}

.score-refresh h2,
.form-section h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  color: #fff;
}

.score-refresh button {
  padding: 6px 20px;
  border-radius: 5px;
  background-color: #6b0f1a;
  font-size: 20px;
  color: #fff;
}

.score-refresh button:hover {
  background-color: rgb(137, 108, 141);
}

ul li {
  font-size: 30px;
  padding: 8px;
}

.actual-scores li {
  background-color: #fff;
  color: #6b0f1a;
}

ul {
  list-style-type: none;
}

.actual-scores {
  border: 6px solid #6b0f1a;
  border-radius: 5px;
}

.actual-scores li:nth-child(even) {
  background-color: rgb(189, 169, 186);
}

main {
  display: flex;
  gap: 8rem;
  margin: 2rem auto;
  width: fit-content;
}

.score-refresh {
  display: flex;
  gap: 8rem;
  margin-block: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input[type=text],
input[type=number] {
  margin-top: 2rem;
  padding: 6px;
  border: 4px solid #fff;
  font-size: 20px;
  background-color: rgb(90, 43, 88);
}

input[type=submit] {
  width: min-content;
  margin-left: auto;
  padding: 3px 14px;
  border-radius: 5px;
  color: rgb(3, 1, 1);
  font-size: 14px;
}

input[type=submit]:hover {
  background-color: #6b0f1a;
  color: #fff;
}
